{
    "Variables": {
        "COINBASE_PRO_BASEURL": "",
        "COINBASE_PRO_KEY": "",
        "COINBASE_PRO_PASSPHRASE": "",
        "COINBASE_PRO_SANDBOX": "",
        "COINBASE_PRO_SECRET": "",
        "COINBASE_USD_ACCOUNT_ID": "",
        "USD_BTC_BUY_AMOUNT": ""
    }
}
