{
    "Variables": {
        "COINBASE_PAYMENT_METHOD_ID": "",
        "COINBASE_PRO_BASEURL": "",
        "COINBASE_PRO_KEY": "",
        "COINBASE_PRO_PASSPHRASE": "",
        "COINBASE_PRO_SANDBOX": "",
        "COINBASE_PRO_SECRET": "",
        "COINBASE_USD_ACCOUNT_ID": "",
        "USD_AMOUNT_TO_TRANSFER": "",
        "USD_THRESHOLD_TO_BUY": ""
    }
}
